*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 70px; 
    background-color: red; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
}

ul {
    display: flex;
    gap: 15px; 
    list-style-type: none;
}